
a {
    text-decoration: none;
}

.fouc {
    height: 28px;
    border-bottom: 1px #eee solid;
    width: 100%;
    color: blue;
}

content div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    float: left;
}

content {
    width: 720px;
}

.inport {
    width: 47%;
    height: 350px;
    margin-bottom: 20px;

}

.center {
    width: 47%;
    height: 350px;
    margin-left: 5%;
    margin-bottom: 20px;
    display: flex;
}

.center a {
    display: block;
    flex-wrap: nowrap;
}

.grid-4 img {
    border: 3px #eee solid;
}

.post-title {
    font-size: 80%;
}

.post-meta {
    position: relative;
    top: 30px;
    left: -140px;
    color: darkgray;
}

.post-excerpt p {
    font-size: 13px;
    line-height: 20px;
}

.post-excerpt a {
    position: relative;
    left: 220px;
    top: -20px;
    color: #2E9FD2;
}

.imge {
    width: 70px;
    height: 70px;
    background-image: url("/training/public/images/D.jpg");
    background-size: cover;
}

content .center .imge2 {
    height: 70px;
}

aside .side-1 p {
    line-height: 0;
    font-size: 13px;
    color: darkgray;
}

content .center a {
    color: black;
}

aside .side-1 {
    border-bottom: 1px darkgray solid;
    height: 70px;
    margin-bottom: 10px;
}

aside #side {
    border: 2px darkgray solid;
    height: 170px;
    margin-bottom: 20px;
}

#news {
    border: 1px red dashed;
    height: 350px;
    width: 99%;
}

body {
    width: 100%;
    color: #333;
    position: relative;
    margin: 0;
}

#wrapper {
    display: block;
    width: 960px;
    margin: 0 auto;

    height: 1000px;
    position: relative;
    top: 60px;
}

header {
    width: 960px;
    height: 100px;

}

#leaderboard {
    float: right;
    position: relative;
    top: -89px;
}

.navarea {
    width: 960px;
    height: 40px;
    background-color: #eee;
    font-size: 14px;
}

.navarea a {
    text-decoration: none;
    line-height: 38px;
    color: black;
}

#box1 {
    width: 960px;
    height: 900px;
    display: flex;
    margin: 0 auto;
}

content {
    width: 640px;
    height: 800px;

    flex-direction: column;
}

aside {
    width: 320px;
    height: 800px;

    flex-direction: column;
}

.nav {
    width: 100%;
    height: 40px;
    background-color: #eee;
    z-index: 999;
    margin-bottom: -30px;
    position: fixed;
}

#nav-head {
    margin: 0 auto;
    width: 960px;
    height: 100%;
    border: 1px #eee solid;
}

.nav ul li {
    list-style: none;
    float: left;
    line-height: 10px;
}

.nav ul a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    margin-right: 20px;
    float:right;
    position: relative;
    left: -35px;
}
.nav ol a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    margin-right: 20px;
}

.nav a:hover {
    color: #2E9FD2;
}

.nav ol li {
    float: right;
    list-style: none;
    line-height: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #leaderboard {
        display: none;
    }
    body{
        width:100%;
    }
    .nav{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .nav #nav-head {
        width: 80%;
    }
    #wrapper{
        margin: 0 auto;
        width: 80%;
    }
#box1{
    width: 100%;
    margin-top: 30px;
}
.navarea{
    width: 100%;
}
    content .inport{
        width: 47%;
    }

content .inport .grid-4{
    width: 100%;
}
    content .post-thumb img{
     width: 100%;
 }
    aside {
        width: 280px;
    }
    .side-3 img{
        width: 100%;
    }
    .center .imge{
        width:40px;
        height: 40px;
    }
    .center .imge2 {
       font-size: 13px;
        width: 70%;
        height:40px;
        margin-top: -15px;
    }
    .post-excerpt a{
        position: relative; left: 150px;
    }
    .center a{
        text-decoration: none ;
    }
}
@media only screen and (max-width: 768px) {
    #leaderboard {
        display: none;
    }

    aside {
        display: none;
    }

    #nav-head ul {
        display: none;
    }
    content  .center .imge2 {
        width: 80%;

        height:80px;
        margin-top: -15px;
    }
    content  .center .imge2 a{
        font-size: 13px;
    }
    content .center {
        width: 99%;
        height: 350px;
        margin-left: 0;
    }

    content .center a {
        font-size: 18px;
    }


    content .inport {
        width: 99%;
    }

    content .inport img {
        width: 99%;
        border: 2px darkgray solid;
    }

    content .center .imge {
        width: 70px;
        height: 70px;
    }


    .nav, header, .navarea, #box1 {
        width: 99.9%;
    }

    #wrapper {
        width: 86%;
    }

    .navarea {
        margin-bottom: 40px;
    }

    #logo img {
        display: block;
        margin: 0 auto;
    }
    .side-3 img{
        width: 100%;
    }


    .center a{
        text-decoration: none ;
    }
    .post-excerpt a{
        position: relative; left: 100px;
    }
}
