@media only screen and (min-width: 881px) and (max-width: 959px) {
    #leaderboard {
        display: none;
    }

    .nav, header, .navarea, #box1 {
        width: 99%;
    }

    #wrapper {
        width: 90%;
    }

    .navarea {
        margin-bottom: 40px;
    }

    content {
        width: 520px;
border: 1px red solid;
    }
aside{
    width: 300px;
}
    content .inport {
        width: 250px;
    }
    content .inport img {
        width: 230px;
        height: 120px;
        padding-bottom: 40px;
    }
    #nav-head {
        width: 99%;
    }
    content .center .imge2 a{
        line-height: 10px;
    }

    content .inport .post-excerpt a {
        position: relative;
        left: 170px;
    }

    content .center {
        width: 200px;
    }

    content .center div {
        width: 16%;
        height: 40px;
    }

    content .center a {
        font-size: 84%;
    }
    content .center .imge {
        width: 40px;
        height: 40px;
    }
    content .center .imge2{
        height: 40px;
     width: 150px;
    }
}

@media only screen and (max-width: 880.9px) {
    #leaderboard {
        display: none;
    }

    aside {
        display: none;
    }
    #nav-head ul{
        display: none;
    }


    content .center{
        width: 49%;

    }

    content .center {
        width: 98%;
        height: 350px;
        margin-left: 0;
    }

    content .center a {
        font-size: 18px;
    }
    #nav-head {
        width: 99%;
    }


    content .inport {
        width: 95%;
    }

    content .inport img {
        width: 99%;
        height: 200px;
        border: 2px darkgray solid;
    }
    content .center .imge {
        width: 70px;
        height: 70px;
    }
    content .center .imge2{
        height: 70px;
        width: 81%;
    }
    .nav, header, .navarea, #box1 {
        width: 99.9%;
    }

    #wrapper {
        width: 86%;
    }

    .navarea {
        margin-bottom: 40px;
    }

    #logo img {
        display: block;
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
}

.fouc {
    height: 28px;
    border-bottom: 1px #eee solid;
    width: 100%;
    color: blue;
}

content div {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    float: left;
}

content {
    width: 720px;
}

.inport {
    width: 47%;
    height: 350px;
    margin-bottom: 20px;

}

.center {
    width: 47%;
    height: 350px;
    margin-left: 5%;
    margin-bottom: 20px;
    display: flex;
}
.center a{
    display: block;
    flex-wrap: nowrap;
}
.grid-4 img {
    border: 3px #eee solid;
}

.post-title {
    font-size: 80%;
}

.post-meta {
    position: relative;
    top: 30px;
    left: -140px;
    color: darkgray;
}

.post-excerpt p {
    font-size: 13px;
    line-height: 20px;
}

.post-excerpt a {
    position: relative;
    left: 220px;
    top:-20px;
  color: #2E9FD2;
}

 .imge {
    width: 70px;
    height: 70px;
    background-image: url("/training/public/images/D.jpg");
    background-size: cover;
}
content .center .imge2{
    height: 70px;
}
aside .side-1 p{
    line-height: 0;
    font-size: 13px;
    color: darkgray;
}
aside .side-1{
    border-bottom: 1px darkgray  solid;
    height: 70px;
    margin-bottom: 10px;
}
aside #side {
    border: 2px darkgray  solid;
    height: 170px;
    margin-bottom: 20px;
}
#news{
    border: 1px red dashed;
    height:350px;
    width: 99%;
}
