<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
    <link rel="stylesheet" href="food.css ">
</head>
<body>
<header>
    <div id="logo">
        <div class="login"><a href="">登陆</a>|<a href="">注册</a></div>
        <div class="login2"><span></span><a href="">爱美食</a></div>
        <div class="login3"><span class="span1"></span><span class="span2"></span><a href="">加入购物车</a></div>
    </div>
</header>
<div class="content">
    <div class="nav">
        <a href="">
            <div class="nav1">首页</div>
        </a>
        <a href="">
            <div>关于我们</div>
        </a>
        <a href="">
            <div>我们的菜单</div>
        </a>
        <a href="">
            <div>我们的文化</div>
        </a>
        <a href="">
            <div>加入我们</div>
        </a>
        <a href="">
            <div>联系方式</div>
        </a>
    </div>
    <div id="icon">
        <div class="icon1"><span></span></div>
        <div class="icon2"><a href="">喜欢收藏</a></div>
        <div class="icon3"><a>spicy,tasty&delicious always！</a></div>
        <div class="icon4"><a href="">
            <div>给我们建议</div>
        </a></div>
    </div>
    <div id="food">
        <div class="food1">
            <div><span class="img-icon1"></span>
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            </div>
        </div>
        <div class="food1">
            <div><span class="img-icon2"></span>
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            </div>
        </div>
        <div class="food1">
            <div><span class="img-icon3"></span>
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            </div>
        </div>
    </div>
</div>
<div class="food-list">
    <div id="box">
        <div class="box1">
            <div>特殊感谢</div>
        </div>
        <div class="box2"><p>
            为感谢全国用户多年来对我们的大力支持，我们特别推出一系列特色美食，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。为感谢全国用户多年来对我们的大力支持，我们特别推出一系列特色美食，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。</p>
        </div>
        <div class="box3">
            <div class="box-food1"><img src="/training/public/images/1232.png" alt="">
                <img class="img2" src="/training/public/images/1233.png" alt=""></div>
            <div class="box-food1"><img src="/training/public/images/1233.png" alt="">
                <img class="img2" src="/training/public/images/1232.png" alt=""></div>
            <div class="box-food1"><img src="/training/public/images/1232.png" alt="">
                <img class="img2" src="/training/public/images/1233.png" alt=""></div>
        </div>
    </div>
</div>
<div id="life">
    <div class="life-box">
        <div class="life-box1"></div>
        <div class="life-box2">
            <div class="life-box2-1"><a>精细的沙漠</a></div>
            <div class="box2-2"><a href="">好的事物能够保持你的健康</a></div>
            <div class="box2-3"><p>
                采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作味道美味可口让您尽享美食。采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。
                </p><p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作味道美味可口让您尽享美食。采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。
            </p></div>
        </div>
    </div>
</div>
<div id="foodli">
    <div class="foodli-1"><div class="qq"><a href="">美味的食物</a></div></div>
    <div class="foodli-2">
        <div>
            <div class="foodbox-1">特殊面食</div>
            <img src="/training/public/images/1237.png" alt="">
            <p> 来自全国优质小麦产区河南小麦，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            <p class= "more" style="float: left " >+更多</p>
        </div>
        <div> <div class="foodbox-1">水果冰镇</div>
            <img src="/training/public/images/1236.png" alt="">
            <p> 来自全国优质小麦产区河南小麦，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            <p class= "more" style="float: left " >+更多</p></div>
        <div> <div class="foodbox-1">香肠料理</div>
            <img src="/training/public/images/1235.png" alt="">
            <p> 来自全国优质小麦产区河南小麦，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            <p class= "more" style="float: left " >+更多</p></div>
        <div> <div class="foodbox-1">天甜椒理</div>
            <img src="/training/public/images/love_food_r4_c9.png" alt="">
            <p> 来自全国优质小麦产区河南小麦，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            <p class= "more" style="float: left " >+更多</p></div>
    </div>
</div>
<div id="footnav"></div>
<footer>

</footer>
</body>
</html>