<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
    <link rel="stylesheet" href="food.css ">
</head>
<body>
<header>
    <div id="logo">
        <div class="login"><a href="">登陆</a>|<a href="">注册</a></div>
        <div class="login2"><span></span><a href="">爱美食</a></div>
        <div class="login3"><span class="span1"></span><span class="span2"></span><a href="">加入购物车</a></div>
    </div>
</header>
<div class="content">
    <div class="nav">
        <a href="">
            <div class="nav1">首页</div>
        </a>
        <a href="">
            <div>关于我们</div>
        </a>
        <a href="">
            <div>我们的菜单</div>
        </a>
        <a href="">
            <div>我们的文化</div>
        </a>
        <a href="">
            <div>加入我们</div>
        </a>
        <a href="">
            <div>联系方式</div>
        </a>
    </div>
    <div id="icon">
        <div class="icon1"><span></span></div>
        <div class="icon2"><a href="">喜欢收藏</a></div>
        <div class="icon3"><a>spicy,tasty&delicious always！</a></div>
        <div class="icon4"><a href="">
            <div>给我们建议</div>
        </a></div>
    </div>
    <div id="food">
        <div class="food1">
            <div><span class="img-icon1"></span>
                <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
            </div>
        </div>
        <div class="food1"><div><span class="img-icon2"></span>
            <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
        </div></div>
        <div class="food1"><div><span class="img-icon3"></span>
            <p> 采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食。</p>
        </div></div>
    </div>
</div>
</body>
</html>