body{
    width:100%;
    height: 3632px;
    border: 1px palegreen solid;
    margin: 0;
}
a{
    text-decoration: none;
}
div {
    border: 1px dashed blue;
}
header{
    border: 1px red solid;
    width: 100%;
    height: 50px;
    background-color: #F5595B;
}
#logo{
    width: 1142px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: space-between;
}
#logo .login{
    height: 50px;
    line-height: 50px;
    color: #fff;
}
#logo .login a{
    margin: 20px;
    color: #fff;
}
#logo .login2  span{
    display: inline-block;
    width:32px;
    height:50px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -501px 0;
}
#logo .login2 a{
    text-decoration: none;
    color: #fff;
    position: relative; top:-20px;
}
#logo .login3  .span1{
    display: inline-block;
    width:46px;
    height:50px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -622px 0;
    background-color: #fff;
}
#logo .login3  .span2{
    display: inline-block;
    width:46px;
    height:50px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -547px 4px;
}
#logo .login2 a {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -20px;
}
#logo .login3 a {
    text-decoration: none;
    color: #fff;
    position: relative;
    top: -20px;
}

.content{
    width:100%;
    height: 950px;
    background-image: url("/training/public/images/123.png");
    background-size: cover ;

}
.nav{
    height:61px;
    width: 1142px;
    margin:0 auto ;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255,0.4 );
}
.nav div{
    width:187px;
    height: 99%;
    text-align: center ;
    line-height: 61px;
    font-family: Regular;
    font-size: 24px;
}
.nav a{
    color: #1b1c1d;
}
.nav div:hover {
    background-color: #1f3f55;
    color:#fff;
}
#icon .icon1 {
    height: 128px;
    width: 100%;
    text-align: center ;
    margin-top: 72px;
}
#icon span{
    display: inline-block;
    height: 129px;
    width: 129px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -571px -50px;
}
#icon .icon2 {
    height: 59px;
    width: 100%;
    text-align: center ;
   font-size: 48px;
    margin-top: 14px;
}
#icon .icon2 a{
    color:#F5595B;
    font-family: Regular;
}
#icon .icon3 {
    height: 59px;
    width: 100%;
    text-align: center ;
    font-size: 48px;
    margin: 14px;
}
#icon .icon3 a{
    color: #fff;
}
#icon .icon4{
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
#icon .icon4 div{
    height:44px;
    width: 184px;
    background-color: #F5595B;
    text-align: center ;
    font-size: 20px;
    line-height: 44px;
    color: #fff;
}
#food{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    width: 1142px;
    margin-left: 7%;
}
#food div{
    width:351px;
    height:289px;
}
#food .food1{
    width: 351px;
    height:176px;
    background-color: rgba(255,255,255,0.4 );
    text-align: center ;
}
#food .food1 span{
    display: inline-block;
    width:100px;
    height:100px;
    margin-top: 38px;
}
#food  p{
    width: 276px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-top: 44px;
  text-align: left ;
    line-height: 24px;
    text-indent:2em
}
#food .food1 .img-icon1{
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -221px -65px;
}
#food .food1 .img-icon2{
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -333px -65px;
}
#food .food1 .img-icon3{
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -447px -65px;
}

.food-list{
    height: 943px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#box{
width: 1142px;
    height: 943px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
#box .box1{
    width:100%;
    height:106px;
    display: flex;
    justify-content:space-around;
}
.box1 div{
    width: 193px;
    text-align: center;
    border-bottom: #000 solid 2px;
    line-height: 120px;
    font-size: 24px;
    color: #F5595B;
}
#box .box2{
    width:855px;
    height:123px;
}
#box .box2 p{
    font-size: 18px;
    color: #232323;
    text-indent:2em
}
#box .box3{
    width:100%;
    height: 711px;
    display: flex;
    justify-content: space-between;
}
#box .box3 .box-food1{
    width: 350px;
    height: 572px;
}
#box .box3 .box-food1 .img2{
 margin-top: 30px;
}

#life{
    width: 100%;
    height: 599px;
    background-color: #69737B;
}
#life .life-box{
    width: 1140px;
    height: 396px;
    margin: 102px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#life .life-box .life-box1{
    border: 1px red solid;
    width:447px;
    height: 396px;
    background: url("/training/public/images/1238.png");
    background-size: cover ;
}
#life .life-box .life-box2{
    border: 1px red solid;
    width:628px;
    height: 396px;
}
#life .life-box .life-box2 .life-box2-1{
    border: 2px red solid;
    width: 194px;
    height: 50px;
    text-align: center ;
}
#life .life-box2-1 a{
    color:#F5595B;
    font-size: 24px;
}
#life .box2-2{
    border: 1px red solid;
    width: 220px;
    height: 112px;
    line-height: 112px;
    font-size: 18px;
}
#life .box2-2 a
{color: #fff;}
#life  p
{
    font-size: 16px;
    color: #fff;
    text-indent:2em
}
#foodli{
    height:692px;
    width:1140px;
    margin: 0 auto;
}
#foodli .foodli-1{
    width: 100%;
    height:192px;
}
.foodli-1 div{
    width: 193px;
    height:42px;
    border-bottom: 2px red solid;
    font-size: 24px;
    margin: 100px auto;
    text-align: center ;
}
.foodli-1 .qq a{
    color: #F5595B;
}
.foodli-2{
    display: flex;
    justify-content: space-around;
}
.foodli-2 div{
    width:283px;
    height:396px;
    border: 2px solid darkgray;
    text-align: center;
}
.foodli-2 .foodbox-1{
    width: 253px;
    height:48px;
    background-color: #1F3F55;
    color: #fff;
    font-size: 20px;
    text-align: center ;
    line-height: 48px;
    margin: 20px auto;
}
.foodli-2 img{
    margin-top: -20px;
    width: 253px;
    height: 169px;
}
.foodli-2 p{
    text-indent: 2em;
    width: 253px;
    font-size: 14px;
    margin: 20px auto;
    text-align: left ;
}
.foodli-2 .more{
    color:#F55965;
font-weight: bold;
    text-indent: 1em;
}
#footnav{
    height:329px;
    width: 100%;
    background-color: #69737B;
    display: flex;
  justify-content: center;
    align-items: flex-end;
}
#footnav div{
    border:1px solid pink;
    width: 208px;
    height: 240px;
    margin: 0 12px;
    font-weight: bold;
}

#footnav div a{
    font-size: 18px;
    color: #F5595B;
}
#footnav div p{
    font-size: 14px;
    color: #fff;
}
footer {
    height: 60px;
    width:100%;
    background-color: #F5595B;
}
footer .footbottom{
    width: 850px;
    margin: 0 auto;
   height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footbottom  .ft1{
    border: 1px solid yellow;
    height: 100%;
    width: 369px;
    font-size: 14px;
    color: #fff;
}
footer .footbottom  .ft1{
    border: 1px solid yellow;
    height: 100%;
    width: 369px;
    text-align: center ;
}
footer .ftimg1{
    display: inline-block;
    height:36px;
    width: 36px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -401px 0;
}
footer .ftimg2{
    display: inline-block;
    height:36px;
    width: 36px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -266px 0;
}
footer .ftimg3{
    display: inline-block;
    height:36px;
    width: 36px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -220px 0;
}
footer .ftimg4{
    display: inline-block;
    height:36px;
    width: 36px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -446px 0;
}
footer .ftimg5{
    display: inline-block;
    height:36px;
    width: 36px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -355px 0;
}
footer .ftimg6{
    display: inline-block;
    height:36px;
    width: 36px;
    background: url("/training/picture/sprite/sprite-food.png") no-repeat -308px 0;
}